
/* #Media Queries
================================================== */
/* standard 1980 sreen resolution */
@media only screen and (max-width: 1980px) {
	#slider .camera_prev {
		left:18.9%;
	}
	#slider .camera_next {
		left:20.4%;
	}
}

/* Smaller than standard 1680 (browsers) */
@media only screen and (max-width: 1680px) {

	#slider .camera_prev {
		left: 13.1%;
	}
	#slider .camera_next {
		 left:14.85%;
	}
}

/* Smaller than standard 1600 (browsers) */
@media only screen and (max-width: 1600px) {

	#slider .camera_prev {
		left: 11.1%;  
	}
	#slider .camera_next {
		 left:13%;
	}
}

/* Smaller than standard 1440 (browsers) */
@media only screen and (max-width: 1440px) {

	
	#slider .camera_prev {
		left: 7.2%; 
	}
	#slider .camera_next {
		left:9.4%;
	}
}

/* Smaller than standard 1366 (browsers) */
@media only screen and (max-width: 1366px) {

	
	#slider .camera_prev {
		left: 3.75%; 
	}
	#slider .camera_next {
		left:6%;
	}
}


/* Smaller than standard 1280 ( browsers) */
@media only screen and (max-width: 1280px) {

	
	#slider .camera_prev {
		left: 1.9%; 
	}
	#slider .camera_next {
		left:4.2%;
	}
}


/* Tablet Portrait size to standard 980 (devices and browsers) */
@media only screen and (min-width: 981px) and (max-width: 1024px) {
	.camera_fakehover {
		min-height: 450px;
	}
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .camera_caption {left: 1%;}
	#slider .camera_prev {left: 1%; }
	#slider .camera_next {left:4%;}
	
	.container{ margin: 0px auto; max-width: 1004px; }

	
	
}


/* Smaller than standard 980 (devices and browsers) */
@media only screen and (max-width: 980px) {

	.container{ margin: 0px auto; max-width: 920px; }
	#slider .camera_caption { left: 3.1%;}
	#slider .camera_prev {
		left: 3.1%; 
	}
	#slider .camera_next {
		left:6.1%;
	}
}

/* Smaller than standard 980 (devices and browsers) */
@media only screen and (max-width: 800px) {
	.container{ margin: 0px auto; max-width: 750px; }
	#slider .camera_caption { left: 3.1%;}
	#slider .camera_prev {
		left: 3.1%; 
	}
	#slider .camera_next {
		left:6.9%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (max-width: 768px) {
	.camera_fakehover {
		min-height: 400px;
	}
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .camera_prev {left: 1%; }
	#slider .camera_next {left:5%	}
	
	.container{ margin: 0px auto; max-width: 750px; }
	
	#respond form textarea { width: 97%;}
	#respond form input[type="text"], #respond form input[type="email"], #respond form input[type="url"] {
		width: 70%;
	}
	
	.wpcf7 label { width: 12.5%;}
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="password"], .wpcf7 textarea {	width: 70%;}
	.submit-wrap .wpcf7-submit { margin: 10px 0 0 12.5%;}
	
}


/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#bodychild{width:100%; margin:0}
	
	
	/*============================================== HEADER SECTION ==============================================*/
	#logo{text-align:center; float:none; display:block; margin:0 0 20px;}
	#logoimg img{margin:0px auto;}
	
	.container{ margin: 0px auto; max-width: 98%; }

	#navigation{text-align:center; float:none; clear:both; margin:0px!important;}
	.menu a{background:transparent !important; border:0 !important}
	.menu > li{border:0 !important; display:none;}
	nav{margin:0px; float:none; }
	.js .tinynav { display: block; display: inline-block; text-align:left ; margin:0 0 0 0; width:80%}/* mobile dropdown */
    .js .sf-menu { display: none }
	

	/*============================================== SLIDER SECTION ==============================================*/
	.camera_fakehover {min-height: 400px;}
	#slider .camera_caption { left: 1%;}
	#slider .camera_prev {left: 1%;}
	#slider .camera_next {left:5.3%;}

	
	/*============================================== CONTENT SECTION ==============================================*/
	
	.site-content.with-slider{ margin:0px}
	.sidebar.widget-area{ padding-top:40px;}
	.recent-item img{ width:100%; height:auto}
	
	#hometesti-container .testi-img {
		float: left;
		margin: 0 20px 0 0px;
	}
	.portfolio-filter{ float:none}
	
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="password"], .wpcf7 textarea {	width: 100%;}
	.submit-wrap .wpcf7-submit { margin: 10px 0 0 0;}
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 600px) and (max-width: 640px) {
	#bodychild{width:100%;}
	
	.container{ margin: 0px auto; max-width: 600px;  }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}

	#slider .slider-title { font-size:24px; }
	#slider .slider-desc{ font-size:14px; }
	#slider .camera_caption {left: 3.2%;}
	#slider .camera_prev {left: 3.2%; }
	#slider .camera_next {left:8%;}
	
	#respond form textarea { width: 100%;}
	#respond form input[type="text"], #respond form input[type="email"], #respond form input[type="url"] {
		width: 100%;
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 600px) {
	#bodychild{width:100%;}
	
	.container{ margin: 0px auto; max-width: 560px;  }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}

	#slider .slider-title { font-size:24px; }
	#slider .slider-desc{ font-size:14px; }
	#slider .camera_caption {left: 3.3%;}
	#slider .camera_prev {left: 3.3%; }
	#slider .camera_next {left:8.2%;}
	
	#respond form textarea { width: 100%;}
	#respond form input[type="text"], #respond form input[type="email"], #respond form input[type="url"] {
		width: 100%;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 480px) {
	#bodychild{width:100%;}
	
	.container{ margin: 0px auto; max-width: 450px; }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .slider-title { font-size:18px; }
	#slider .slider-desc{ font-size:14px; width:85%;}
	#slider .camera_caption {left: 3.2%;}
	#slider .camera_prev {left: 3.2%; }
	#slider .camera_next {left:9.5%;}
	
	.ts-portfolio-filter{ float:none;}
	
	.comment-list .children > li {padding-left: 0.5em;}
	#respond form textarea { width: 100%;}
	#respond form input[type="text"], #respond form input[type="email"], #respond form input[type="url"] {
		width: 100%;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and  (max-width: 425px) {
	.container{ margin: 0px auto; max-width: 400px; }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .slider-title { font-size:18px; }
	#slider .slider-desc{ font-size:12px; width:85%;}
	#slider .camera_caption {left: 3;}
	#slider .camera_prev {left: 3%;}
	#slider .camera_next {left:10%;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and  (max-width: 375px) {
	.container{ margin: 0px auto; max-width: 350px; }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .slider-title { font-size:18px; }
	#slider .slider-desc{ font-size:14px; width:85%;}
	#slider .camera_caption {left: 3.5;}
	#slider .camera_prev {left: 3.5%;}
	#slider .camera_next {left:11.5%;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 360px) {
	.container{ margin: 0px auto; max-width: 332px; }
	
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	#slider .slider-title { font-size:18px; }
	#slider .slider-desc{ font-size:14px; width:85%;}
	#slider .camera_caption {left: 3.5;}
	#slider .camera_prev {left: 3.5%;}
	#slider .camera_next {left:12.2%;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {
	#slider .camera_caption {bottom:43%;}
	#slider .camera_prev, #slider .camera_next {bottom:35%;}
	
	#slider .camera_caption {left: 1.5%;}
	#slider .camera_prev {left: 1.5%;}
	#slider .camera_next {left:11%; }
	#slider .slider-title { font-size:12px; }
	#slider .slider-desc{ font-size:10px; width:85%;}
	.bottom h2 { font-size:12px; }
	table.stock td { font-size:12px; }
	.container{ margin: 0px auto; max-width: 97%; }
}
